<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hola Mundo con Vue.js</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

   <div id="app">

        <h1>{{titulo}}</h1>

        <form class="form-group">
                <input type="text" v-model="nuevaFruta" @keyup.enter="agregarFruta">
                <button @click="agregarFruta">Agregar</button>
        
                <ul>
                    <li v-for="fruta of frutas">
                        <input type="number" v-model.number="fruta.cantidad">
                        {{fruta.nombre}}
                        <span v-if="fruta.cantidad ==    0"> - Sin Stock</span>
                    </li>
                </ul>
                <h4>Total {{sumarFrutas}}</h4>
        
        </form>
        

   </div>
    


    <!-- development version, includes helpful console warnings -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="01.js"></script>
</body>
</html>